<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="navbar-brand" href="{{ site.homeurl }}/">Home</a>
                    <a class="navbar-brand" href="{{ site.baseurl }}/">Blog</a>
                    <a class="navbar-brand" href="{{ "/feed.xml" | prepend: site.baseurl }}">Rss</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
